<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <p><%= nick %> 님 안녕하세요!</p>
    <form action="/board/post" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" id="submitbtn" value="게시">
    </form><br>
    <div class="posts">
        <fieldset class="usernick">사용자</fieldset>
        asdf
    </div>
</body>
</html>