<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>이메일을 입력하세요</p>
    <form action="/login/findpw/find" method="post">
        <input type="email" id="email" name="email">
        <input type="submit" id="emailsend">
    </form>
    
</body>
</html>