<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node-Place</title>
</head>
<body>
    <form action="/join/join" method="post">
        <input type="email" placeholder="이메일을 입력하세요" name="email">
        <input type="password" placeholder="비밀번호를 입력하세요" name = "password">
        <input type="text" placeholder="닉네임을 입력하세요" name = "nick">
        <input type="submit" value="가입완료">
    </form>
</body>
</html>