<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mypage</title>
</head>
<body>
    MyPage
    <p>내 닉네임: <span id="nick"><%= nick %></span></p>
    <input type="text" id="changenick">
    <input type="button" id="changebtn" value="닉네임 변경">
    <script src = "mypage.js"></script>
</body>
</html>