#map{
    border-radius: 10px;
    width:800px;
    height:600px;
    box-shadow: black 1px 1px 1px 1px ;
}
#search{
    margin-right:10px;
    display: inline;
}
#history, #placehistory, #nickp, .favorites{
    display: inline-block;
}
#search{
    height:10%;
}