#map{
    border-radius: 10px;
    width:800px;
    height:600px;
    box-shadow: black 1px 1px 1px 1px ;
}
#search{
    margin-right:10px;
    display: inline;
}
#history, #placehistory, #nickp, .favorites{
    display: inline-block;
}
#search{
    height:10%;
}
.posts{
    border-color: darkgreen;
    width:300px;
    border-style: solid;
    border-width: 2px;
    padding: 12px; 
    word-break: break-all;
    font-size:30px;
}
.usernick{
    margin-top:-14px;
    margin-left:-14px;
    font-size:15px;
}